.movies-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-card{
    flex: 0 0 calc(33.333% - (20px*2/3));
    background-color: #595959;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
    min-height: 400px;
}

.movie-card:hover {
    transform: scale(1.05);
}